a:hover{
    font-size: 16pt;
}
body{
    margin: 0;
}

header{
    background-image: url("../images/javascripto.jpg");
    background-repeat: no-repeat;
    height: 600px;
    
}
nav{
    align-items: center;
    background-color: red;
    display: flex;
    font-family: 'Chilanka', cursive;
    height: 50px;
    justify-content: space-around;
}


nav a{
    color: black;
    text-decoration: none;

}